@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
  margin:0px;
  background: linear-gradient(50deg , #13161f , #27c2f8);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  
}
/*parte da nav*/
#nav{
  background-color:#13161f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.logotipo{
  width: 30%;
  cursor: pointer;
  margin: auto 30px; 
}
.container-nav ul{
  display: flex;
  align-items: center;
}
.container-nav ul li{
  margin: 20px;
  list-style: none;
  padding: 10px;
}
  .container-nav ul li:hover{
    border-bottom: 5px solid white;
    transition: all 0.2s ease-in-out 0s;
  }
.container-nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.icone-menu{
	display: none;
}
.botao-responsivo{
	background-color: transparent;
	color: white;
	border: none;
  font-size: 275%;
	margin: 22px;
}
.menu-responsivo{
  display:none;
}
.menu-responsivo ul{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-responsivo ul li{
	list-style: none;
	padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}
.menu-responsivo ul a{
  color: white;
  text-decoration: none;
}
/*parte do home*/
#home {
  /*background: linear-gradient(50deg, #27c2f8 , #13161f );*/
  width: 100%;
  height: 90vh;
  font-size: 140%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div#frases{
  padding: 30px 0;
}
a.botao{
  font-size:25px;
  background-color:#13161f;
  border:2px solid #13161f;
  border-radius:5px;
  color:#fff;
  padding:15px;
  margin:2px;
  text-decoration: none;
}
#imagemhomeabner{
  width: 30vw;
}
/*parte do sobre*/
#sobre{
  width: 100%;
  margin:0px;
}
#sobremim {
  width:80%;
  position:relative;
  text-align: justify;
  margin:auto;
}
#sobremim p{
  font-size: 80%;
}
#especificacoes{
  display: flex;
  justify-content: center;
}
.detalhes{
  padding:0 10px;
  font-size: 110%;
}
.detalhes ul{
  padding:0;
}
.detalhes li{
  display: flex;
  align-items: center;
  justify-content: left;
}
.detalhes li h3{
  margin-right: 10px;
}

/*parte das experiências*/
#experiencias{
  width: 80%;
  height: 100vh;
  /*background-color: #13161f ;*/
  position: relative;
  text-align: justify;
  margin: auto;
}
.linguagens{
  display:flex;
  margin: 15px 0;
  align-items: center;
}
.antebarra{
  margin:0 20px;
}
.barra{
  width: 50vw;
  height: 4vh;
  border: 2px solid black;
  border-radius: 15px;
}
.porcentagem{
  border-radius:15px;
  height: 4vh;
  background-color:#13161f;
}
.tecimg{
  width: 5vw;
  height: 15vh;
}
.tec01{
  width:50%;
}
.tec02{
  width:50%;
}
.tec03{
  width:35%;
}
.tec04{
  width:25%;
}
.tec05{
  width:4%;
}

/*parte dos projetos*/
#projetos {
  width: 100%;
  /*background: linear-gradient(50deg, #13161f , #27c2f8 );*/
  margin:0px;
}
#inicio_do_projeto{
  width:80%;
  position:relative;
  text-align: justify;
  margin:auto;
  padding-top:2%;
}
#container{
  margin: 100px 45px 0 45px;
  padding-bottom: 100px;
}
.imagem-carrossel{
  width: 500px;
  height: 250px;
  margin: 0 30px;
}
#gradedefotos a{
  display: flex;
}
.comentario{
  color:white;
  font-weight: bolder;
}
.comentario p{
  width: 75%;
}
/*parte dos contatos*/
#contato{
  background-color:#13161f;
}
.rodape{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
#fotofinal{
  width: 20vw;
  height: 10vh;
}
.gitlink{
  width: 55px;
  height: 55px;
}
a{
  text-decoration: none;
}
@media(max-width:1100px){
  .logotipo{
    width: 45%;
  }
  div#frases{
    text-align: center;
  }
  .icone-menu{
		display: block;
	}
  .container-nav{
    display: none;
  }
  .open{
		display: block;
  }
  #sobredosobremim{
    font-size: 75%;
  }
  .detalhes{
    font-size:83%;
  }
}
@media(max-width:870px){
  #home{
    justify-content: center;
    flex-direction: column;
    font-size: 100%;
    padding: 50px 0;
  }
  #imagemhomeabner{
  width: 200px;
  }
  button{
    top:0;
    display: flex;
    padding:5px;
  }
  #especificacoes{
    flex-flow:column;
  }
  .detalhes{
    font-size: 140%;
  }
  .detalhes ul{
    margin:0 1px;
  }
  .tecimg{
    width: 9vw;
  }
  #gradedefotos a{
    flex-flow: column;
  }
  .comentario{
    margin: 0 5%;
  }
  #fotofinal{
    width: 30vw;
  }
}
@media(max-width:625px){
  .tecimg{
    width: 12vw;
  }
  .detalhes{
    font-size: 100%;
  }
  .imagem-carrossel{
    width: 68vw;
    height: 34vh;
  }
  #fotofinal{
    width: 40vw;
  }
  #container{
  padding-bottom: 10px;
  }
}
@media(max-width:375px){
  .detalhes ul{
    padding: 0;
  }
  .tecimg{
    width: 15vw;
  }
  .imagem-carrossel{
    width: 60vw;
    height: 25vh;
  }
  #fotofinal{
    width: 55vw;
  }
  .gitlink{
  width: 45px;
  height: 45px;
}
}




/* Cores importantes*/
/*preto--#13161f*/
/*azul--#27c2f8*/
/*rosa--f6276d*/
/*amarelo--#fcfb75*/
